<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listed Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/cars" method="post">
      <label for="makemodel">Add a new make/model</label>
      <input id="makemodel" name="makemodel" type="text">
      <label for="price">Add a price</label>
      <input id="price" name="price" type="text">
      <label for="miles">Add mileage</label>
      <input id="miles" name="miles" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
@* //need to tie into Car constructor *@