<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car-Dealership!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Car Dealership</h1>
    @using CarDealership.Models;

    <h1>Listed Cars</h1>
   
    <ul>
        <li>Make & model: @Model.MakeModel Price: @Model.Price Mileage: @Model.Miles</li>
        
      
    </ul>
    </ul>
  </body>
</html>